@import "../../node_modules/bootstrap/dist/css/bootstrap.css";

form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.prices, .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons {
    flex-grow: 0;
}